*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
}

.page{
    height:100%;
    width: 100 vh;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    font-size:50px;
}